src/main/mule/post.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="postFlow" doc:id="29ccdd4a-852e-42ab-bcda-3f054e122120" >
		<ee:transform doc:name="Transform Message" doc:id="83630aa8-2aee-4abd-b902-2bad304a3929" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://www.cdi.com/employees
---
{
	ns0#AddEmployeeRequest: {
		ns0#AddEmployee: {
			ns0#firstName: payload.firstName as String,
			ns0#lastName: payload.lastName as String,
			ns0#department: payload.department as String
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="AddEmployee" doc:name="Consume" doc:id="dea5481f-7477-4e96-823d-ebf03d209b2d" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="00efaefd-5c74-4562-b9fd-237b588621c4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.body.AddEmployeeResponse

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
