src/main/mule/put.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="putFlow" doc:id="726c96fc-8d6a-4359-88d4-444e96548a60" >
		<ee:transform doc:name="Transform Message" doc:id="2f164608-1595-4c26-bdf6-a45d522b210e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.cdi.com/employees
---
{
	ns0#UpdateEmployeeRequest: {
		ns0#Employee: {
			ns0#id: vars.Id as Number,
			ns0#firstName: payload.firstName as String,
			ns0#lastName: payload.lastName as String,
			ns0#department: payload.department as String
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="UpdateEmployee" doc:name="Consume" doc:id="51329857-5cdf-4e5a-ac41-112028509334" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="5e06adf4-15a8-4950-a94a-8c7128f58ae5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.body.UpdateEmployeeResponse
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
